.portfolio {
    background-image: var(--first-gradient);
}

.portfolio__list {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    margin-bottom: 60px;
}

.portfolio__list-item {
    color: var(--title-color);
    font-weight: 700;
    font-size: var(--smaller-font-size);
    position: relative;
    transition: all 0.7s;
    transition-timing-function: var(--transition);
}

.portfolio__list-item::before {
    content: '';
    width: 0px;
    height: 2px;
    max-width: 60%;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -12px;
    left: 0px;
    transition: all 0.7s;
    transition-timing-function: var(--transition);
}

.active-list::before,
.portfolio__list-item:hover::before {
    width: 40px;
}

.active-list {
    color: var(--primary-color);

}

.portfolio__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}


/* image scroll css code start */
.image-wrap {
    width: 300px;
    height: 240px;
    overflow: hidden;
    border-radius: 8px;
    margin: 20px auto;
}

.image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    transition: all 5s ease-in-out;
}

.image-wrap:hover img {
    object-position: bottom center;
}

/* image scroll css code and */

.portfolio__category {
    color: var(--primary-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    margin-bottom: 5px;
    display: block;
}

.portfolio__category,
.portfolio__description {
    margin-top: 30px;
}

.portfolio__title {
    font-size: var(--h4-font-size);
}

.portfolio__description {
    min-height: 150px;
}



/* Responsive grid for mobile devices  */

@media screen and (max-width:576px) {

    .portfolio__list {
        flex-wrap: wrap;
        padding: 0px 30px;
    }


    .portfolio__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }


    .portfolio__list-item {
        margin-bottom: 20px;
    }

    .portfolio__list-item::before {
        bottom: -6px;
    }


}