/* ======== GOOGLE FONTS ======== */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Jost:wght@400;500;700&display=swap');


/* ======== CSS VARIABLES ======== */

:root {

    /*==== COLLERS ====*/
    /* --primary-color: hsl(165, 60%, 40%);
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 92%);
    --bg-color: hsl(216, 18%, 16%);
    --bg-color-alt: hsl(213, 10%, 21%);
    --container-color: hsl(217, 18%, 14%);
    --border-color: hsl(210, 2%, 65%); */

    /* --first-gradient: linear-gradient(
        0deg, 
        var(--bg-color-alt) 0%, 
        var(--bg-color) 100%
    );
    --second-gradient: linear-gradient(
        180deg, 
        var(--bg-color-alt) 0%, 
        var(--bg-color) 100%
    );
    --third-gradient: linear-gradient(
        180deg, 
        var(--bg-color) 0%, 
        var(--bg-color) 100%
    ); */


    /*==== TYPOGRAPHY ====*/
    --body-font: 'Jost', sans-serif;
    --second-font: 'Caveat', cursive;

    --biggest-font-size: 80px;
    --h1-font-size: 44px;
    --h2-font-size: 30px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --largest-font-size: 21px;
    --larger-font-size: 20px;
    --large-font-size: 18px;
    --normal-font-size: 16px;
    --small-font-size: 15px;
    --smaller-font-size: 14px;
    --tiny-font-size: 13px;



    /*==== TRANSITION ====*/
    --transition: cubic-bezier(0.3, 0. 0.3, 1);

}


/* ======== RESET ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button,
input,
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

.dark__theme {
    --bg-color: hsl(216, 18%, 16%);
    --primary-color: hsl(165, 60%, 40%);
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 92%);
    --bg-color-alt: hsl(213, 10%, 21%);
    --container-color: hsl(217, 18%, 14%);
    --border-color: hsl(210, 2%, 65%);

    /*==== SHADOW ====*/
    --shadow: 5px 5px rgb(255 255 255 / 10%);

    /* ========== BAR BACKGROUND ============ */
    --bar-background: rgba(255, 255, 255, 0.2);

    --text-shadow: 2px 2px hsl(0, 0%, 0%), -2px 2px hsl(0, 0%, 0%), 2px -2px hsl(0, 0%, 0%), -2px -2px hsl(0, 0%, 0%), 5px 5px 0 rgb(0 0 0 / 20%);

    /* ========= Shape Color ================ */
    --shape-filter: invert(1);

    --first-gradient: linear-gradient(0deg,
            var(--bg-color-alt) 0%,
            var(--bg-color) 100%);
    --second-gradient: linear-gradient(180deg,
            var(--bg-color-alt) 0%,
            var(--bg-color) 100%);
    --third-gradient: linear-gradient(180deg,
            var(--bg-color) 0%,
            var(--bg-color) 100%);
}

.light__theme {
    --bg-color: hsl(265, 67%, 96%);
    --primary-color: #29a385;
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 8%);
    --container-color: hsl(0, 0%, 100%);
    --border-color: hsl(0, 0%, 0%);

    /*==== SHADOW ====*/
    --shadow: 5px 5px rgba(1, 1, 1, 0.531);

    /* ========== BAR BACKGROUND ============ */
    --bar-background: rgba(0, 0, 0, 0.2);

    --text-shadow: 2px 2px hsl(0, 0%, 100%), -2px 2px hsl(0, 0%, 100%), 2px -2px hsl(0, 0%, 100%), -2px -2px hsl(0, 0%, 100%), 5px 5px 0 rgba(255, 255, 255, 0.2);


    /* ==========Shape Color================ */
    --shape-filter: invert(-1);


    --first-gradient: linear-gradient(0deg,
            var(--bg-color-alt) 0%,
            var(--bg-color) 100%);
    --second-gradient: linear-gradient(180deg,
            var(--bg-color-alt) 0%,
            var(--bg-color) 100%);
    --third-gradient: linear-gradient(180deg,
            var(--bg-color) 0%,
            var(--bg-color) 100%);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: 700;
}

ul {
    list-style: none;
}

p {
    line-height: 1.7;
}

a {
    text-decoration: none;
}

input,
textarea,
button {
    border: none;
    outline: none;
    background: transparent;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}


/* ============= RESUABLE CSS CLASSES ============ */

.container {
    max-width: 1150px;
    padding-inline: 12px;
    margin-inline: auto;
}

.grid {
    display: grid;
    gap: 40px;
}

.text-cs {
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.shape {
    position: absolute;
    filter: var(--shape-filter);
    opacity: 0.6;
}

.section {
    padding-bottom: 150px;
}

.section__title,
.section__subtitle {
    text-align: center;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    color: var(--primary-color);
    font-size: var(--smaller-font-size);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 60px;
}

.section__subtitle span {
    font-family: var(--second-font);
    color: var(--title-color);
    font-size: var(--h3-font-size);
    text-transform: capitalize;
    margin-left: 10px;
}

.card {
    background-color: var(--container-color);
    overflow: hidden;
    text-align: left;
    position: relative;
}

.card__one {
    padding: 30px 35px;
    border-radius: 18px;
}

.card__two {
    padding: 15px;
    border-radius: 20px;
    /* margin-bottom: 30px; */
}


.c__shape {
    right: -24px;
    bottom: -24px;
    width: 141px;
    height: 141px;
}

@media screen and (max-width:576px) {
    .container {
        max-width: 350px;
        padding-inline: 12px;
        margin-inline: auto;
    }
}